<div class="flex-fill align-self-baseline footer-dark bg-dark border-top box-shadow" style="bottom: 0; text-align: center">
    <footer>
        <div class="row">
            <div class="col-sm-6 item">
                <h3>Email</h3>
                <ul>
                    <a href="mailto:tkrblx@gmail.com">tkrblx@gmail.com</a>
                </ul>
            </div>
            <div class="col-sm-6 item">
                <h3>Links</h3>
                <ul>
                    <a href="https://docs.google.com/document/d/1SFW8cWGudujgNJ_3fU0ylJhRQPKs8fTZJsoZMWXaw0I/edit?usp=sharing">Frequently Asked Questions</a>
                </ul>
            </div>
         </div>
    </footer>
    <p class="copyright">© 2018 Turkish Airlines Roblox -  All Rights Reserved</p>
    <p class="copyright">Created by Anthony O'Brien | Sublivion</p>
</div>