<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow" style="text-align: center; position: fixed; width: 100%; z-index: 100">
    <a class="my-0 mr-md-auto font-weight-normal" href="/index.html"><img class="my-0 mr-md-auto font-weight-normal" src="assets/img/Wordmark.png" style="height: auto; min-height: 20px; max-height: 5%; width: auto; max-width: 400px" alt="TURKISH AIRLINES"/></a>

    <div class="my-2 my-md-0 mr-md-3">
        <a id="1" class="p-2 dropdown-toggle dropdown-toggle text-light" data-toggle="dropdown" aria-expanded="false" href="#">Contact</a>
        <div aria-labelledby="1" class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" href="https://twitter.com/TKRBLX">Twitter</a>
            <a class="dropdown-item" role="presentation" href="https://discord.gg/y2pazgH">Discord</a>
            <a class="dropdown-item" role="presentation" href="mailto:tkrblx@gmail.com">Email</a>
            <a class="dropdown-item" role="presentation" href="https://www.roblox.com/Groups/Group.aspx?gid=3313758">Roblox</a>
        </div>
    </div>
</nav>

<br/> <br/> <br/> <br/> <br/> <br/>